.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
adhoc
autom4te.cache
config.log
config.status
src/Makevars
checkbashisms
revdep
Rprof.out
derby.log
logs
*.DS_Store
configure~
.lineno
configure.ac~
docs
.R
